body{
    background-color: #d1a1b1;
}
.navbar {
    height: 5rem;
    background-color: #f8f9fa;
}
.fa-compass {
    font-size: 2rem;
    color: red;
}

.nav-link {
    color: black !important;
}

footer {
    background-color: #f8f9fa;
    padding: 1rem;
    text-align: center;
    border-top: 2px solid black;
}
.f-info-links a{
    text-decoration: none;
    color: black;
}
.f-info-links a:hover {
    text-decoration: underline;
}
.f-info-links, 
.f-info-socials {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.f-info{
    height: 8rem;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: space-evenly;
    
}
.card{
    border :none !important;
    margin-bottom: 2rem;

}

.card-img-top{
    border-radius: 1rem !important;
    width: 100%;
    height: 15rem;
    object-fit: cover;
}
.card-body{
    padding: 0 !important;
    text-align: center;
}

.card-text{
    font-size: 1.2rem;
    font-weight: light;
    color: black;
}
.listing-link{
    text-decoration: none;
    color: black;
}
.card-img-overlay{
    opacity: 0;
}
.card:hover .card-img-overlay{
    opacity: 0.2;
    background-color: white;
    color: white;
    transition: opacity 0.3s ease-in-out;
}
